.searchterm { 
   color: blue;
   background-color: yellow;
}

#search_terms {
   font-weight:bold;
}

#search_results {
   
}

#search_results ol {
   
}

#search_results li {
   
}
